#about .container {
    margin: 0;
}

#about {
    background: white;
}

#about .image img {
position: relative;

}

#about .image {
    position: relative;
}

#about .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -8.3%;
    left: -33%;
    z-index: 0;
}

#about .image img, 
#about .image::before {
    border-radius: 0.25rem;
}

#about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#about .text h1 {
    margin-bottom: 1rem;
}

#about .text p {
    margin-bottom: 2rem;
    max-width: 100%;
}