.cards.grid {
    gap: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: .25rem 0 .25rem 0 0;
    text-align: center;
}

.card svg{
    margin-bottom: 1.5rem;
    height: 5rem;
    fill: var(--base-color);
}

.card .title {
    font-size: 1.rem;
    margin-bottom: 0.75rem;
}