#testimonials {
    background: white;
}

#testimonials header {
    margin-bottom: 4rem;
}

#testimonials blockquote {
    padding: 2rem;
    border-radius: 0.25rem;
}

#testimonials blockquote p {
    position: relative;
    text-indent: 2rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
}

#testimonials blockquote p span {
    color: var(--base-color);
    font: 700 3rem 'serif';
    position: absolute;
    top: -0.8rem;
    left: -2rem;
    
}

#testimonials cite {
    display: flex;
    align-items: center;
    font-style: normal;
    font-size: 0.9rem;
}

#testimonials cite img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
}

.swiper {
    width: 100%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

.swiper-slide {
    height: auto;
    padding: 2rem 1rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--base-color);
}

/* Parei em 54 min da aula  03 */